@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');

.App {
  text-align: center;
  /* background-color: rgb(32,33,32); */
  font-family: 'Cinzel', serif ;
}
html{
  /* background-color: rgb(32,33,32); */
  font-family: 'Cinzel', serif ;
}



.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

