@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Playfair+Display&display=swap');

/* brand classes for each element like <p> <h1>  */
/* add colors and sizes here as well */
.App {
  text-align: center;
  background-color: rgb(32,33,32);
  
  color: whitesmoke;
}
html{
  background-color: rgb(32,33,32);
  
}
h1,h2,h3,h4,h5{
  font-family: 'Cinzel', serif ;
}




.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

