.contact-us{
    min-width: 300px;
    margin:auto;
    text-align: center;
    margin-top: 10vh;
    padding: 10vh;
    display: block;
    width: 50%;
    border-radius: 41px;
    background: #202120;
    box-shadow:  41px 41px 82px #0e0f0e,
                 -41px -41px 82px #323332;
}

.contact-text{
    width: 100%;
    min-height: 100px;
}

.font{
    font-size: 24px;
}
textarea{
    width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box; 
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.Btn{
     margin-top: 2rem;
    border-radius: 16px;
    
    
   
    font-size: 24px;
    padding: 1rem;

}