.signup-form{
    margin:auto;
    text-align: center;
    margin-top: 10vh;
    padding: 10vh;
    display: block;
    width: fit-content;
    border-radius: 41px;
    background: #202120;
    box-shadow:  41px 41px 82px #0e0f0e,
                 -41px -41px 82px #323332;
}

.center{
    margin: auto;
}