.header{
    background-color: #242424;
    color: whitesmoke;
    padding: 10rem;
    
}
.h1x{
    font-size: 50px;
}
.h2x{
    
    color: whitesmoke;
    width: fit-content;
    margin: auto;
    border-bottom: solid greenyellow 2px;
}
.sized{
    width: 30%;
    margin: auto;
  }
.col{
 font-size: 24px;
 color: whitesmoke;
 word-wrap: break-word; 
 border: rgb(32,33,32) 2px solid;
 background-color: #242424;
}
.ftcolor{
    color: #242424;
}
.formcolor{
    color: #242424;
}
